Django>=4.2,<7.0
gunicorn>=22.0,<26.0
dj-database-url
psycopg2-binary
whitenoise
django-crispy-forms
crispy-bootstrap5
django-allauth
python-decouple
Pillow
requests
beautifulsoup4
feedparser
django-crontab
django-anymail
django-storages[s3]
boto3
